{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "OpenPSD PSD2",
    "description": "PSD2 API based on the Berlin Group specs\n"
  },
  "host": "api.openpsd.org",
  "basePath": "/psd2/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/periodic-payments/{payment-product}": {
      "post": {
        "description": "Creates a payment initiation resource addressable under {paymentID} with all data relevant for the corresponding payment product. This is the first step in the API to initiate the related payment",
        "summary": "create a periodic payment",
        "tags": [
          "payments"
        ],
        "operationId": "PeriodicPaymentsByPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "enum": [
              "application/json",
              "application/xml",
              "application/text"
            ],
            "x-enum-elements": [
              {
                "name": "Enum_applicationjson",
                "description": ""
              },
              {
                "name": "Enum_applicationxml",
                "description": ""
              },
              {
                "name": "Enum_applicationtext",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Content-Type"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PeriodicPaymentsRequest"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach. If it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled SCA approach, depending on the choice of the SCA procedure by the TPP/PSU. If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the TPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandatory for the SCA OAuth Approach."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeriodicPaymentsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/payments/{payment-product}": {
      "post": {
        "description": "Creates a payment initiation resource addressable under {paymentId} with all data relevant for the corresponding payment product. This is the first step in the API to initiate the related payment",
        "summary": "create a single payment",
        "tags": [
          "payments"
        ],
        "operationId": "PaymentsByPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "enum": [
              "application/json",
              "application/xml",
              "application/text"
            ],
            "x-enum-elements": [
              {
                "name": "Enum_applicationjson",
                "description": ""
              },
              {
                "name": "Enum_applicationxml",
                "description": ""
              },
              {
                "name": "Enum_applicationtext",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Content-Type"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach. If it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled SCA approach, depending on the choice of the SCA procedure by the TPP/PSU. If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the TPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandatory for the SCA OAuth Approach."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/bulk-payments/{payment-product}": {
      "post": {
        "description": "Creates a payment initiation resource addressable under {paymentId} with all data relevant for the corresponding payment product. This is the first step in the API to initiate the related payment",
        "summary": "create a bulk payment",
        "tags": [
          "payments"
        ],
        "operationId": "BulkPaymentsByPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "enum": [
              "application/json",
              "application/xml",
              "application/text"
            ],
            "x-enum-elements": [
              {
                "name": "Enum_applicationjson",
                "description": ""
              },
              {
                "name": "Enum_applicationxml",
                "description": ""
              },
              {
                "name": "Enum_applicationtext",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Content-Type"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach. If it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled SCA approach, depending on the choice of the SCA procedure by the TPP/PSU. If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the TPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandatory for the SCA OAuth Approach."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkPaymentsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{payment-service}/{payment-product}/{paymentId}": {
      "get": {
        "description": "Reads the details of an initiated payment.",
        "summary": "get payment details",
        "tags": [
          "payments"
        ],
        "operationId": "PaymentIdByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "x-enum-elements": [
              {
                "name": "payments",
                "description": ""
              },
              {
                "name": "bulkpayments",
                "description": ""
              },
              {
                "name": "periodicpayments",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The payment service to use."
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "payment Id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "enum": [
              "application/json",
              "application/xml",
              "application/text"
            ],
            "x-enum-elements": [
              {
                "name": "Enum_applicationjson",
                "description": ""
              },
              {
                "name": "Enum_applicationxml",
                "description": ""
              },
              {
                "name": "Enum_applicationtext",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Content-Type"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach. If it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled SCA approach, depending on the choice of the SCA procedure by the TPP/PSU. If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the TPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandatory for the SCA OAuth Approach."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/{payment-service}/{payment-product}/{paymentId}",
              "headers": {
                "Content-Type": "application/json",
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "PSU-ID": "PSU-1234",
                "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGxvd2VkX25vZGVzIjoiZmRhYWU1ODYtYWE1NS00MzJjLTQxODEtYjRiYzY2MDljNzQ2IiwiZXhwIjoxNTU4NTMyMTI0LCJvd25lciI6IjViMDQxYzljNDVmOTJlMGExNzdlOThjYyJ9.uif9dlFO8qEQGrLh9bThtT4H_sUeL43nfx0PL-RTgd5KL9WaO5TADLPIgBu02h2I39jRRb978ZYiv2xseAK8xpR13vz8cQUjIX0FpLnrKomfvl_nyzefVkcUH_DrNGkcPZswoVNFbfeUWER1c8I0fUudVsnxHExRJ_S-Lq1vWCSDChy89Vm_bliYdt8DppyELaBadFPqxeRRkn-szpr8sAvDgbb-OccT3LsiylkqJ5g4BWqj9qLpBO4xkzSTLjdKvgipRcNwv_dKOcwF3OI90TAaX1aEm856Zg1hBLrYnae1oceBfRYl7rjtDQo3S_R0j5pLhb7Kd-ErHec6nyaoOQ",
                "Consent-ID": "qwer3456tzui7890",
                "PSU-IP-Address": "172.25.77.8",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Location": "https://www.testbank.com/psd2/v1/payments/sepa-credit-transfers/1234-wertiq-983",
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "ASPSP-SCA-Approach": "DECOUPLED"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test get payment details",
            "x-testDescription": "Reads the details of an initiated payment."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Updates data on the payment resource if needed. It may authorise a payment within the Embedded SCA Approach where needed.",
        "summary": "update payment",
        "tags": [
          "payments"
        ],
        "operationId": "PaymentIdByPaymentServiceAndPaymentProductPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "x-enum-elements": [
              {
                "name": "payments",
                "description": ""
              },
              {
                "name": "bulkpayments",
                "description": ""
              },
              {
                "name": "periodicpayments",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The payment service to use."
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "payment Id"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentidRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK result with Decoupled Approach",
            "schema": {
              "$ref": "#/definitions/PaymentidResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "PUT",
              "uri": "/{payment-service}/{payment-product}/{paymentId}",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "PSU-ID": "PSU-1234",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "ASPSP-SCA-Approach": "DECOUPLED"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test update payment",
            "x-testDescription": "Updates data on the payment resource if needed. It may authorise a payment within the Embedded SCA Approach where needed."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{payment-service}/{payment-product}/{paymentId}/status": {
      "get": {
        "description": "Reads the transaction status of the payment",
        "summary": "get the status of a payment",
        "tags": [
          "payments"
        ],
        "operationId": "PaymentIdStatusByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "x-enum-elements": [
              {
                "name": "payments",
                "description": ""
              },
              {
                "name": "bulkpayments",
                "description": ""
              },
              {
                "name": "periodicpayments",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The payment service to use."
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers"
            ],
            "x-enum-elements": [
              {
                "name": "sepacredittransfers",
                "description": ""
              },
              {
                "name": "instantsepacredittransfers",
                "description": ""
              },
              {
                "name": "target2payments",
                "description": ""
              },
              {
                "name": "crossbordercredittransfers",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The addressed payment product, e.g. SCT. The default list of products supported in this standard is, pain.001-sepa-credit-transfers, pain.001-instant-sepa-credit-transfers, pain.001-target-2-payments or pain.001-cross-border-credit-transfers. Further products might be published by the ASPSP within its XS2A documentation."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "payment Id"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentidStatusResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/{payment-service}/{payment-product}/{paymentId}/status",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGxvd2VkX25vZGVzIjoiZmRhYWU1ODYtYWE1NS00MzJjLTQxODEtYjRiYzY2MDljNzQ2IiwiZXhwIjoxNTU4NTMyMTI0LCJvd25lciI6IjViMDQxYzljNDVmOTJlMGExNzdlOThjYyJ9.uif9dlFO8qEQGrLh9bThtT4H_sUeL43nfx0PL-RTgd5KL9WaO5TADLPIgBu02h2I39jRRb978ZYiv2xseAK8xpR13vz8cQUjIX0FpLnrKomfvl_nyzefVkcUH_DrNGkcPZswoVNFbfeUWER1c8I0fUudVsnxHExRJ_S-Lq1vWCSDChy89Vm_bliYdt8DppyELaBadFPqxeRRkn-szpr8sAvDgbb-OccT3LsiylkqJ5g4BWqj9qLpBO4xkzSTLjdKvgipRcNwv_dKOcwF3OI90TAaX1aEm856Zg1hBLrYnae1oceBfRYl7rjtDQo3S_R0j5pLhb7Kd-ErHec6nyaoOQ",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test get the status of a payment",
            "x-testDescription": "Reads the transaction status of the payment"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account-id}/transactions": {
      "get": {
        "description": "Reads a transaction list For a given account, additional parameters are e.g. the attributes “date_from” and “date_to”. If the attribute “withbalance” is used, the ASPSP will add balances to the transaction list. The latter might be provided by the ASPSP anyhow, if transaction lists without balances are not supported.",
        "summary": "transactions for account",
        "tags": [
          "account"
        ],
        "operationId": "AccountsTransactionsByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This identification is denoting the addressed account. The account-id is retrieved by using a \"Read Account List\" call. The account-id is the \"resourceId\" attribute of the account structure. Its value is constant at least throughout the lifecycle of a given consent."
          },
          {
            "name": "bookingStatus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Permitted codes are \"booked\", \"pending\" and \"both \"booked\" shall be supported by the ASPSP. To support the \"pending\" and \"both\" feature is optional for the ASPSP, Error code if not supported in the online banking frontend"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Starting date (inclusive the date dateFrom) of the transaction list, mandated if no delta access is required"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "End date (inclusive the data dateTo) of the transaction list, default is now if not given."
          },
          {
            "name": "entryReferenceFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This data attribute is indicating that the AISP is in favour to get all transactions after the transaction with identification entryReferenceFrom alternatively to the above defined period. This is a implementation of a delta access. If this data element is contained, the entries \"dateFrom\" and \"dateTo\" might be ignored by the ASPSP if a delta report is supported."
          },
          {
            "name": "deltaList",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "This data attribute is indicating that the AISP is in favour to get all transactions after the last report access for this PSU on the addressed account. This is another implementation of a delta access-report. This delta indicator might be rejected by the ASPSP if this function is not supported."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "enum": [
              "xml",
              "JSON",
              "text"
            ],
            "x-enum-elements": [
              {
                "name": "xml",
                "description": ""
              },
              {
                "name": "JSON",
                "description": ""
              },
              {
                "name": "text",
                "description": ""
              }
            ],
            "type": "string",
            "description": "The TPP can indicate the formats of account reports supported together with a priorisation following the HTTP header definition."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsTransactionsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/consents": {
      "post": {
        "description": "Creates a consent resource, defining access rights to dedicated accounts of a given PSU-ID. These accounts must be addressed explicitly in the method as parameters.",
        "summary": "create a consent",
        "tags": [
          "Consent"
        ],
        "operationId": "ConsentsPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach. If it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled SCA approach, depending on the choice of the SCA procedure by the TPP/PSU. If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the TPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandatory for the SCA OAuth Approach."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsentsRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Consent Request was correctly performed.",
            "schema": {
              "$ref": "#/definitions/ConsentsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/consents",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "PSU-ID": "PSU-1234",
                "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGxvd2VkX25vZGVzIjoiZmRhYWU1ODYtYWE1NS00MzJjLTQxODEtYjRiYzY2MDljNzQ2IiwiZXhwIjoxNTU4NTMyMTI0LCJvd25lciI6IjViMDQxYzljNDVmOTJlMGExNzdlOThjYyJ9.uif9dlFO8qEQGrLh9bThtT4H_sUeL43nfx0PL-RTgd5KL9WaO5TADLPIgBu02h2I39jRRb978ZYiv2xseAK8xpR13vz8cQUjIX0FpLnrKomfvl_nyzefVkcUH_DrNGkcPZswoVNFbfeUWER1c8I0fUudVsnxHExRJ_S-Lq1vWCSDChy89Vm_bliYdt8DppyELaBadFPqxeRRkn-szpr8sAvDgbb-OccT3LsiylkqJ5g4BWqj9qLpBO4xkzSTLjdKvgipRcNwv_dKOcwF3OI90TAaX1aEm856Zg1hBLrYnae1oceBfRYl7rjtDQo3S_R0j5pLhb7Kd-ErHec6nyaoOQ",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Location": "https://www.testbank.com/psd2/v1/payments/sepa-credit-transfers/1234-wertiq-983",
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "ASPSP-SCA-Approach": "DECOUPLED"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test create a consent",
            "x-testDescription": "Creates a consent resource, defining access rights to dedicated accounts of a given PSU-ID. These accounts must be addressed explicitly in the method as parameters."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/consents/{consentId}": {
      "get": {
        "description": "Reads the exact definition of the given consent resource {consentId}",
        "summary": "get consent details",
        "tags": [
          "Consent"
        ],
        "operationId": "ConsentsByConsentIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the corresponding consent object as returned by an Account Information Consent Request"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsentsResponse125"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/consents/qwer3456tzui7890",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test get consent details",
            "x-testDescription": "Reads the exact definition of the given consent resource {consentId}"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Updates data on the consent resource, authorises a consent within the Embedded SCA Approach where needed.",
        "summary": "update consent",
        "tags": [
          "Consent"
        ],
        "operationId": "ConsentsByConsentIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the corresponding consent object as returned by an Account Information Consent Request"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation, if OAuth is not chosen as Pre-Step."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSPs documentation. Only used in a corporate context."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsentsRequest144"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsentsResponse146"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "PUT",
              "uri": "/consents/qwer3456tzui7890",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "PSU-ID": "PSU-1234",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "ASPSP-SCA-Approach": "DECOUPLED"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test update consent",
            "x-testDescription": "Updates data on the consent resource, authorises a consent within the Embedded SCA Approach where needed."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Deletes a created consent with ID.",
        "summary": "delete consent",
        "tags": [
          "Consent"
        ],
        "operationId": "ConsentsByConsentIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the corresponding consent object as returned by an Account Information Consent Request"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          }
        ],
        "responses": {
          "204": {
            "description": "Consent resource was successfully deleted."
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "DELETE",
              "uri": "/consents/qwer3456tzui7890",
              "headers": {
                "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGxvd2VkX25vZGVzIjoiZmRhYWU1ODYtYWE1NS00MzJjLTQxODEtYjRiYzY2MDljNzQ2IiwiZXhwIjoxNTU4NTMyMTI0LCJvd25lciI6IjViMDQxYzljNDVmOTJlMGExNzdlOThjYyJ9.uif9dlFO8qEQGrLh9bThtT4H_sUeL43nfx0PL-RTgd5KL9WaO5TADLPIgBu02h2I39jRRb978ZYiv2xseAK8xpR13vz8cQUjIX0FpLnrKomfvl_nyzefVkcUH_DrNGkcPZswoVNFbfeUWER1c8I0fUudVsnxHExRJ_S-Lq1vWCSDChy89Vm_bliYdt8DppyELaBadFPqxeRRkn-szpr8sAvDgbb-OccT3LsiylkqJ5g4BWqj9qLpBO4xkzSTLjdKvgipRcNwv_dKOcwF3OI90TAaX1aEm856Zg1hBLrYnae1oceBfRYl7rjtDQo3S_R0j5pLhb7Kd-ErHec6nyaoOQ",
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test delete consent",
            "x-testDescription": "Deletes a created consent with ID."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "description": "Reads a list of bank accounts, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, respectively the OAuth2 access token.",
        "summary": "account details",
        "tags": [
          "account"
        ],
        "operationId": "AccountsByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This identification is denoting the addressed account. The account-id is retrieved by using a \"Read Account List\" call. The account-id is the \"resourceId\" attribute of the account structure. Its value is constant at least throughout the lifecycle of a given consent."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "withBalance",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If contained, this function reads the list of accessible payment accounts including the booking balance, if granted by the PSU in the related consent and available by the ASPSP. This parameter might be ignored by the ASPSP."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsResponse18"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account-id}/balances": {
      "get": {
        "description": "Reads the balance list for a given account.",
        "summary": "balances for account",
        "tags": [
          "account"
        ],
        "operationId": "AccountsBalancesByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This identification is denoting the addressed account. The account-id is retrieved by using a \"Read Account List\" call. The account-id is the \"resourceId\" attribute of the account structure. Its value is constant at least throughout the lifecycle of a given consent."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsBalancesResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account-id}/transactions/{resourceId}": {
      "get": {
        "description": "Reads transaction details of an addressed transaction.",
        "summary": "transaction details for transaction of an account",
        "tags": [
          "account"
        ],
        "operationId": "AccountsTransactionsByAccountIdAndResourceIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 35,
            "description": "This identification is given by the attribute resourceId of the corresponding entry of a transaction list."
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This identification is denoting the addressed account. The account-id is retrieved by using a \"Read Account List\" call. The account-id is the \"resourceId\" attribute of the account structure. Its value is constant at least throughout the lifecycle of a given consent."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsTransactionsResponse81"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "security": [],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts": {
      "get": {
        "description": "Reads a list of bank accounts, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, respectively the OAuth2 access token.",
        "summary": "list of accounts",
        "tags": [
          "account"
        ],
        "operationId": "AccountsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Shall be contained since \"Establish Consent Transaction\" was performed via this API before."
          },
          {
            "name": "withBalance",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If contained, this function reads the list of accessible payment accounts including the booking balance, if granted by the PSU in the related consent and available by the ASPSP. This parameter might be ignored by the ASPSP."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained only, if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in the related consent authorisation."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/accounts",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "Consent-ID": "qwer3456tzui7890",
                "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGxvd2VkX25vZGVzIjoiZmRhYWU1ODYtYWE1NS00MzJjLTQxODEtYjRiYzY2MDljNzQ2IiwiZXhwIjoxNTU4NTMyMTI0LCJvd25lciI6IjViMDQxYzljNDVmOTJlMGExNzdlOThjYyJ9.uif9dlFO8qEQGrLh9bThtT4H_sUeL43nfx0PL-RTgd5KL9WaO5TADLPIgBu02h2I39jRRb978ZYiv2xseAK8xpR13vz8cQUjIX0FpLnrKomfvl_nyzefVkcUH_DrNGkcPZswoVNFbfeUWER1c8I0fUudVsnxHExRJ_S-Lq1vWCSDChy89Vm_bliYdt8DppyELaBadFPqxeRRkn-szpr8sAvDgbb-OccT3LsiylkqJ5g4BWqj9qLpBO4xkzSTLjdKvgipRcNwv_dKOcwF3OI90TAaX1aEm856Zg1hBLrYnae1oceBfRYl7rjtDQo3S_R0j5pLhb7Kd-ErHec6nyaoOQ",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test list of accounts",
            "x-testDescription": "Reads a list of bank accounts, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, respectively the OAuth2 access token."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/funds-confirmations": {
      "post": {
        "description": "Checks whether funds are available for a payment transaction on an account linked with a given tuple cardissuer/cardnumber, or an IBAN and TPP respectively",
        "summary": "check funds",
        "tags": [
          "Funds"
        ],
        "operationId": "FundsConfirmationsPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. It shall be contained if a signature is used, see above."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/FundsConfirmationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FundsConfirmationsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/TppMessage"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/funds-confirmations",
              "headers": {
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000",
                "Digest": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=",
                "Signature": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D- Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\",headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\",signature=\"Base64(RSA-SHA256(signing string))\"",
                "TPP-Signature-Certificate": "VFBQJ3NfZUlEQVNfQ2VydGlmaWNhdGU="
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Location": "https://www.testbank.com/psd2/v1/payments/sepa-credit-transfers/1234-wertiq-983",
                "X-Request-ID": "123e4567-e89b-12d3-a456-426655440000"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test check funds",
[...]
